[Unit]
Description=Reverse SSH
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -N -o ExitOnForwardFailure=yes -o ServerAliveInterval=15 -o ServerAliveCountMax=2 -R 2222:localhost:22 solidus-ext
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
